.Home-swiper_wrapper
  width: 100%
  background :#ccc
  position :relative
  .img-wrapper
    height :0
    padding-bottom : 58.9%
    overflow :hidden
  .pagenation
    position :absolute
    bottom: .1rem
    width: 100%
    text-align: center
    .dot
      display : inline-block
      width : .2rem
      height : .2rem
      background: #ddd
      border-radius: .1rem
      margin: 0 .1rem
    .dot-active
      background: #555
